/*===================  Chat =================*/
:root {

    /* Primary */
    --chat-primary-bg-color: rgb(94, 102, 222);
    --chat-primary01: rgb(228, 229, 252);
    --chat-color-red: #f00;
    --chat-color-white: #fff;
    --chat-color-black: #000;
    --chat-color-light: #f2f2f9;
    --chat-color-dark: #343a40;
    --chat-border: #ddd;

    /* black color */
    --chat-black-01: rgba(0, 0, 0, 0.1);
    --chat-black-02: rgba(0, 0, 0, 0.2);
    --chat-black-03: rgba(0, 0, 0, 0.3);
    --chat-black-04: rgba(0, 0, 0, 0.4);
    --chat-black-05: rgba(0, 0, 0, 0.5);
    --chat-black-06: rgba(0, 0, 0, 0.6);
    --chat-black-07: rgba(0, 0, 0, 0.7);
    --chat-black-08: rgba(0, 0, 0, 0.8);
    --chat-black-09: rgba(0, 0, 0, 0.9);
    --chat-black-005: rgba(0, 0, 0, 0.05);
    --chat-black-001: rgba(0, 0, 0, 0.01);

    /* text color */
    --chat-text-color-light: #dedefd;
    --chat-text-color-lightsecondary: #9595b5;
    --chat-text-color-dark: #333;
    --chat-text-color-darksecondary: #4046a0;
    --chat-user-text-color: #333;
    --chat-help-text-color: #b7b7b7;


    /* Trigger */
    --chat-trigger-depth: 1050;

    /* Main */
    --chat-depth: 1050;
    --chat-pos-right: calc(0.75rem + 75px);
    --chat-pos-bottom: 1.5rem;
    --chat-width: 400px;
    --chat-base-font-size: 0.75rem;
    --chat-box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
    --chat-border-radius: 12px;
 
}


/*------ Trigger ------*/
.app-chat-trigger {

    
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: var(--chat-trigger-depth);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    transition: all .1s ease-out;
    background: var(--chat-primary-bg-color);


    .app-chat-notice-total {
        display: block;
        min-width: 15px;
        height: 17px;
        background-color: var(--chat-color-red);
        font-size: var(--chat-base-font-size);
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        color: var(--chat-color-white);
        font-family: monospace;
        letter-spacing: -1px;
        padding: 2px 4px;
        line-height: 1;

        &.anim {
            animation: cssAnim--trigger-notify 1.5s ease infinite alternate;
        }
    }
    

    > svg {
        opacity: 0;
        
        &:nth-child(2) {
            animation: cssAnim--trigger-show 0.5s ease forwards;
        }

        &:nth-child(3){
            opacity: 0;
            display: none;
        }
    }

    &.show {
       
        > svg {
       
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                animation: cssAnim--trigger-close 0.5s ease forwards;
                display: block;
            }
        } 
    }
}


@keyframes cssAnim--trigger-close {
    0% {
        opacity: 0;
        transform: rotate(0);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
@keyframes cssAnim--trigger-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes cssAnim--trigger-notify {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.0000001);
    }
}





/*------ Main ------*/
.app-chat__wrapper {


    position: fixed;
    z-index: var(--chat-depth);
    right: var(--chat-pos-right);
    bottom: var(--chat-pos-bottom);
    width: var(--chat-width);
    font-size: var(--chat-base-font-size);
    opacity: 0;
    box-shadow: var(--chat-box-shadow);
    border-radius: var(--chat-border-radius);
    transition: all .2s ease-in-out;



    &.login-ok {
        bottom: calc(var(--chat-pos-bottom) * 2.125);
    }


    &.show {
        pointer-events: auto;
        opacity: 1;
        -webkit-animation: cssAnim--zoomIn .2s cubic-bezier(.42, 0, .58, 1);
        animation: cssAnim--zoomIn .2s cubic-bezier(.42, 0, .58, 1);
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }


    .card {
        background: var(--chat-color-white) !important;
    }

    

    /* -----------------   */

    .app-chat__dot-label {
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 100%;
        margin-inline-end: 5px;
    }

    .app-chat__online-users {
        width: 200px;

        /* with <Scrollbar /> */
        .app-chat__online-users__list {
            height: 22px;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, 0.2);
            }
        }


        .app-chat__online-users__title {
            opacity: .5;
        }
        
        .badge {
            font-size: calc(var(--chat-base-font-size) * 0.833333333333333);
            overflow: hidden;
            white-space: nowrap !important;
            width: 50px;
            padding: .2rem .2rem;
            height: 1rem;
        }
    }

    .app-chat__image-user {
        display: block;
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin: 0 0.5rem;
        text-align: center;

        &.app-chat__image-user--main {
            width: 42px;
            height: 42px;
        }

        small {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            font-size: calc(var(--chat-base-font-size) * 0.833333333333333);
            color: var(--chat-user-text-color);
            
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    

    .app-chat__msg-wrapper {
        padding: 10px 15px;
        background-color: var(--chat-primary01);
        font-size: var(--chat-base-font-size);
        margin-block-end: .5rem;
        display: inline-block;
        border-radius: 20px;
        position: relative;
        color: var(--chat-color-black);
    }


    .app-chat__media {
        zoom: 1;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        margin-block-start: .5rem;

        .app-chat__media-body {
            zoom: 1;
            overflow: hidden;
            width: auto;
            flex: 1;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            position: relative;
        }


        &.flex-row-reverse {
            .app-chat__media-body {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
            }

            .app-chat__image-user {
                display: none;
            }

            .app-chat__msg-wrapper {
                background-color: var(--chat-primary01);
                border-start-end-radius: 0;
                border-end-start-radius: 0;
            }
        }
    }
    


    .app-chat__header {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 12px;
        border-block-end: 1px solid var(--chat-border);
        background-color: var(--chat-black-001);
    
    }

    .app-chat__msg-name {
        margin-inline-start: 15px;
        width: 80px;
    
        h6 {
            margin-block-end: 0px;
            font-size: calc(var(--chat-base-font-size) * 1.083333333333333);
            font-weight: 700;
            color: var(--chat-color-dark);
            overflow: hidden;
            white-space: nowrap;
            width: 70px;
        }
    
        small {
            font-size: var(--chat-base-font-size);
            color: var(--chat-text-color-lightsecondary);
        }
    }
    
   
    .app-chat__msg-time {
        font-size: calc(var(--chat-base-font-size) * 0.833333333333333);
        color: var(--chat-text-color-lightsecondary);
        display: flex;
        align-items: center;

    }


    .app-chat__boundary {
        display: block;
        position: relative;
        text-align: center;
        margin: 1rem 0;

        &::before {
            content: "";
            position: absolute;
            width: 25% !important;
            height: 1px;
            inset-inline-start: 0.5rem;
            inset-inline-end: auto;
            background-color: var(--chat-border);
            inset-block-start: 0.5rem;
        }
        
        &::after {
            content: "";
            position: absolute;
            width: 30% !important;
            height: 1px;
            inset-inline-start: auto;
            inset-inline-end: 0.5rem;
            background-color: var(--chat-border);
            inset-block-start: 0.5rem;
        }


        span {
            position: relative;
            font-size: calc(var(--chat-base-font-size) * 1.125);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 4px;
            margin-block-start: 0.5rem;
            color: var(--chat-help-text-color);
        }
    }
    
    
    .app-chat__footer {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        height: 60px;
        padding-inline-end: 20px;
        border-block-start: 1px solid var(--chat-border);
        background-color: var(--chat-color-white);
        position: inherit;
        inset-block-end: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        border-radius: 0 0 7px 7px;
        margin-top: -3px;

        .form-control {
            flex: 1;
            margin: 0 10px;
            padding-inline-start: 12px;
            padding-inline-end: 0;
            border-width: 0;
            border: 1px solid var(--chat-border);
            background-color: var(--chat-black-005);

            &::placeholder {
                color: var(--chat-black-03) !important;
            }
    
            &:hover,
            &:focus {
                box-shadow: none;
                background-color: var(--chat-black-005);
                color: var(--chat-black-03) !important;
            }
        }

        .btn {
            border: 1px solid var(--chat-border) !important;
        }
    }
   



    /* -----------------   */
    .app-chat__left {
        .app-chat__msg-wrapper {
            border-start-start-radius: 0;
            border-end-end-radius: 0;
        }
    }

    .app-chat__content {
        height: calc(100vh - 250px);
        
        /* with <Scrollbar /> */
        .app-chat__content-inner {
            height: calc(100vh - 384px);
            padding-bottom: 1.5rem;

        }

    }

}



@keyframes cssAnim--zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
